body {
    background: url("../img/heart.jpg");
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    color: white;
}

.main__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.47);
    border-radius: 12px;
    padding: 20px;
    width: 40%;
}

img {
    max-width: 80%;
    border-radius: 12px;
}

.img {
    display: flex;
    align-items: center;
    justify-content: center;
}

.text {
    color: white;
    font-size: 20px;
    max-width: 80%;
    text-align: center;
}